.navbar {
  display: flex;
  height: 12vh;
  /* border-bottom: 10px solid #539e30; */
  background: rgba(0, 0, 0, 0.8);
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  text-align: center;
  width: 100%;
}
